<% if tweet.image.attached? %>
  <div class="content_post" style="background-image: url(<%= url_for(tweet.image) %>);">


 <div class="favo">
 <%# お気に入りボタン部分 %>
    <div class="favorite-section" id="favorite-button-<%= tweet.id %>"> 
      <%= render 'favorites/favorite_button', tweet: tweet %> <%# または pict: pict %>
    </div>
  </div>

  <div class="more">

        <%# 詳細タブ用v画像表示 %>
        <span><%= image_tag 'arrow_top.png' %></span>
        <%# 詳細、編集、削除タブ作成 %>
        <ul class="more_list">
           <li>
            <%= link_to '詳細', tweet_path(tweet.id) %>
          </li>
           <% if user_signed_in? && current_user.id == tweet.user_id %>
          <li>
            <%= link_to '編集', edit_tweet_path(tweet.id) %>
          </li>
          <li>
            <%= link_to '削除', tweet_path(tweet.id), data: { turbo_method: :delete } %>
          </li>
          <% end %>
        </ul>
  </div>
      
      
      <p><%= tweet.text %></p>
      <span class="name">
        <a href="/users/<%= tweet.user.id %>">
          <span>投稿者</span><%= tweet.user.nickname %>
        </a>
      </span>
</div>

<% end %>